click==6.7
git+git://github.com/cameronbwhite/Flask-CAS.git
decorator==4.0.11
Flask==0.12
gunicorn==19.7.1
h5py==2.6.0
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
networkx==1.11
numpy==1.12.1
olefile==0.44
Pillow==4.1.0
protobuf==3.1.0
pyandoc==0.0.1
pymongo==3.4.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.13.0
six==1.10.0
subprocess32==3.2.7
Unidecode==0.4.20
Werkzeug==0.12.1
xmltodict==0.10.2
