{% extends "layout.html" %}
{% block title %}PrincetonFoodAlert{% endblock %}

{% block html_attribs %} class="full" {% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PrincetonFoodAlert</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Add Food</a></li>
        <li><a href="#">View Preferences</a></li> <!-- Fix link if we decide to add 'View Prefs' -->
        <li><a href="#">Popular Foods</a></li> <!-- Fix link if we decide to add 'Popular Foods' -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{{ url_for('cas.logout') }}">
            <span class="glyphicon glyphicon-log-in">
            </span> Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block body %}
{{super()}}
<div class="container">
  <div class="row row-centered">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="cover panel panel-default">
        <h1 align="center"><strong>Princeton Food Alert</strong></h1>
        <p align="center"><strong>Add a food to be notified next time it is offered in any dining hall</strong></p>
        <form class="add-entry" method="post" action="{{ url_for('add_entry') }}" autocomplete="on">  
          <div class="form-group">
            <div class="input-group">
              <input type="text" name="title" class="cover-form-input form-control typeahead" placeholder="Enchiladas, Chicken Parmesan, Breakfast Burrito..." value=""/>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit button">Add</button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
<div class="container">
     <div class="entries">
	  <div class="list-group">
	    {% for entry in entries %}
	    <a href="#" class="list-group-item text-center col-xs-8 col-xs-offset-2">{{entry}}</a>
	    {% else %}
	    <a href="#" class="list-group-item text-center col-xs-8 col-xs-offset-2">No food preferences have been submitted</a>
	    {% endfor %}
	    </div>
	  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="static/bootstrap.min.js"></script>
{% endblock %}
