body {
    margin-top: 20%; 
    background-color: transparent;
    opacity: 0.75;

}


.full {
    background: url('gc.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

